
.footer {
    padding:1rem;
    background: transparent;
    position: fixed;
    right: 0;
    bottom: 0;
    
    width: 100%;
    z-index:1;

   .footer-container {
       display: flex;
       //flex-direction: row;
       justify-content: right;
    

       .year-black p {
            color:black;
            font-size: 4rem;
            font-weight: bolder;
            padding: 0 0 0 1rem;
            line-height: 0.8em;
       }

        .year p {
            font-size: 4rem;
            color: white;
            font-weight: bolder;
            padding: 0 0 0 1rem;
            line-height: 0.8em;
        }
        
        .social-links {
            display: flex;
            flex-direction: column;
            // justify-content:right;
            // text-align: right;
            // padding: 0 5px 0 0;

                a {
                    color: black;
                    font-size: 1.1rem;
                    text-decoration: none;
                    font-weight: 600;
                    cursor: pointer;
                }

                img {
                    height: 30px;
                    width: 30px;
                    margin: 1px;
                }
        }

        .white-style {
            color:white !important;
        }
        
    } 
}

.footer-contact {
    bottom: 0vh; 
}

