.footer {
    // padding:0 .5rem 0 0;
    background: transparent;
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100%;
    z-index:1;

    .social-links {
        padding:0 .5em;
        display: flex;
        flex-direction: column;
        align-items: flex-end;

            a {
                color: black;
                font-size: 1.1rem;
                text-decoration: none;
                font-weight: 600;
                cursor: pointer;
            }

            img {
                height: 30px;
                width: 30px;
                // margin: 1px;
            }
    }

    .white-style {
        color:white !important;
    }
} 
