.home {
    display: flex;
}

.img {
    min-width: 45%;
        .imagen-principal {
            width: 100%;
            height: 99.3vh;
            object-fit:cover;
        }
}

.texto-bienvenida {
    display: flex;
    align-items: center;
    justify-content: left;

    .text {
        display: flex;
        flex-direction:column;
        background: rgb(221, 216, 216);
        width: 70%;
        height: auto;
    
    
        h1 {
            padding: 3rem 4rem 1rem 2rem;
            font-size: 3.2rem;
            color:black;
            line-height: 0.8em;
        }
        
        p {
            line-height: 1.3em;
            font-size: 1rem;
            color: black;
            margin-bottom:45px;
        }
    
        .como-mkt {
            font-size: 1.8rem;
        }

        /*  BUTTONS  */


        a {
            text-decoration: none;

             span {
                 color: #D9281B;
                 font-weight: 600;
            }

            .btn {
                width: 100%;
                height: 2.5rem;
                border-radius: .5rem;
                justify-self: left;
                display: flex;
                align-items: center;
                justify-content: left;
                cursor: pointer;
                transition: .3s ease;
                margin-bottom:5px;
                // border: 1px solid black;
            }
        }


        
    }
}



