@media screen and (max-width: 1920px) {

    .texto-bienvenida {
        // padding-top: 40px;
       
        .text {
            h1 {
                padding: 2rem 4rem 0rem 2rem;
                font-size: 3rem;
                color:black;
                line-height: 0.8em;
            }
            
            p {
                line-height: 1.1em;
                font-size: 1rem;
                color: black;
                padding: 1.5rem 2rem 0rem 2rem;
            }

            .como-mkt {
                font-size: 1.6rem;
            }
        }
    }

}

@media screen and (max-width: 1000px) {

    .texto-bienvenida {
       
        .text {
            width: 80%;
        }
    }

}

@media screen and (max-width: 800px) {

    .header {
        padding:0.5rem;
        width: 100vw;
    }

    nav-item a {
        margin: 0;
    }

    .header-portfolio {
        height: 90px;
        padding:0;
    }

    .home{
        height: 90%;
    }

    .responsive-style::after {
        background: white;
    }

    .logo {
        display: none;
    }
    
    .logo-responsive {
        display: block;
        }

        .logo-white {
            width: 60px;
            height: 60px;
        }

        .logo-black  {
            display: block;
            width: 60px;
            height: 60px;
        }
    
        .bg-color {
            background:rgb(221, 216, 216);
        }

        .home {
            display: flex;
            flex-direction: column;
        }   

        .img {
            min-width: 45%;
                .imagen-principal {
                    width: 100%;
                    height: 100vh;
                    object-fit:cover;
                }
        }

        .white-style {
            color:white !important;
        }

        .responsive-style {
            color: white !important;
        }

        .texto-bienvenida {
            // padding-top: 0px;
            // flex-direction: column;
            // max-width: 90vw;
            // height: 700px;
        
            .text {
                width: 90%
                // width: 100%;
                // height: 100%;
            
                h1 {
                    padding: 1rem 2rem;
                    font-size: 3rem;
                    color:black;
                    line-height: 0.8em;
                    // padding-bottom: 200px;
                }
                
                .como-mkt {
                    font-size: 1.8rem;
                }
                
                p {
                    margin-top:1rem;
                    line-height: 1.3em;
                    font-size: 1rem;
                    color: black;
                    padding: 0rem 0rem 0rem 2rem;
                }
            }
    }

    #contact {
        background-image: url(../images/img-contact-responsive.png);
    
        .contact-info{
            padding-top: 30vh;
            padding-left: 10%;
        }
    }
}


@media screen and (max-width: 550px) {
    .logo-responsive {
        display: block;
    }

    .logo-responsive img {
        display: block;
        width: 60px;
        height: 60px;
    }

    .logo {
        display: none;
    }

    .header {
        position: absolute;
        // padding:0.5rem 0;
        height: 90px;
    
        .home-links li a  {
            color: #ffffff;
            font-size: 1.4rem;
            text-decoration: none;
            display: block;
            margin: 1rem;
            font-weight: 600;
            padding-bottom: 1em;
            cursor: pointer;
        }
    }

    .white-style {
        color:white !important;
    }
    
    .gallery {
        padding-top: 110px;
    }

    .img {
        width: 100%;
    } 

    .texto-bienvenida {
        // max-width: 100%;
    
        .text {
            background: rgb(221, 216, 216);
            // height: 90%;
            // width: 100%;
        
            h1 {
                // padding: 2rem;
                font-size: 2.8rem;
                color:black;
                line-height: 0.8em;
            }
            
            p {
                line-height: 1.3em;
                font-size: 1rem;
                color: black;
                // padding: 0rem 2rem;
            }
        
            .como-mkt {
                font-size: 1.4rem;
            }
        }
    }
    
    #contact {
        .contact-info{
            font-size: 1.6rem;
            padding-top: 20vh;

            .vte-lopez{
                padding-top:28vh;
            }
        }
    }
}



@media screen and (max-width: 400px) {

    .logo-responsive {
        margin: 0.2em 0;
    }

    .texto-bienvenida {
        max-width: 100%;
    
        .text {
            padding-top:20px;
            background: rgb(221, 216, 216);
            height: 100%;
            width: 100%;
        
            h1 {
                padding: 1.5rem 1rem;
                font-size: 2.5rem;
                color:black;
                line-height: 0.8em;
            }
            
            p {
                line-height: 1.3em;
                font-size: 1rem;
                color: black;
                padding: 0 1rem;
            }
        }
    }

    #myBtn {
        bottom: 20px; /* Place the button at the bottom of the page */
        left: 5px; /* Place the button 20px from the right */
        padding:6px 12px; /* Some padding */
        font-size: 1rem; /* Increase font size */
      }
}