.gallery {
    padding-top: 20px;
}

.grid-container {
    max-width: 1200px;
    margin: 0 auto;
}

.grid {
    margin: 0 auto;
}

.grid-item {
    width: 280px;
    margin-bottom: 40px;
    // border-radius: 15px;
    cursor: zoom-in;
    // background-color: lightgray;
}

.grid-item:hover {
    filter: opacity(0.9);
}

.item1 {
    width: 280px;
    height: 320px;
}
.item2 {
    width: 280px;
    height: 180px;
}
.item3 {
    width: 280px;
    height: 190px;
}
.item4 {
    width: 280px;
    height: 340px;
}
.item5 {
    width: 280px;
    height: 280px;
}
.item6 {
    width: 280px;
    height: 190px;
}
.item7 {
    width: 280px;
    height: 330px;
}
.item8 {
    width: 280px;
    height: 200px;
}
.item9 {
    width: 280px;
    height: 180px;
}
.item10 {
    width: 280px;
    height: 320px;
}
.item11 {
    width: 280px;
    height: 370px;
}
.item12 {
    width: 280px;
    height: 180px;
}
.item13 {
    width: 280px;
    height: 400px;
}
.item14 {
    width: 280px;
    height: 180px;
}
.item15 {
    width: 280px;
    height: 360px;
}
.item16 {
    width: 280px;
    height: 340px;
}
.item17 {
    width: 280px;
    height: 370px;
}
.item18 {
    width: 280px;
    height: 190px;
}
.item19 {
    width: 280px;
    height: 380px;
}
.item20 {
    width: 280px;
    height: 175px;
}
.item21 {
    width: 280px;
    height: 400px;
}
.item22 {
    width: 280px;
    height: 200px;
}
.item23 {
    width: 280px;
    height: 350px;
}
.item24 {
    width: 280px;
    height: 400px;
}
.item25 {
    width: 280px;
    height: 180px;
}
.item26 {
    width: 280px;
    height: 400px;
}
.item27 {
    width: 280px;
    height: 380px;
}
.item28 {
    width: 280px;
    height: 190px;
}
.item29 {
    width: 280px;
    height: 340px;
}
.item30 {
    width: 280px;
    height: 400px;
}
.item31 {
    width: 280px;
    height: 360px;
}
.item32 {
    width: 280px;
    height: 360px;
}
.item33 {
    width: 280px;
    height: 400px;
}
.item34 {
    width: 280px;
    height: 350px;
}
.item35 {
    width: 280px;
    height: 400px;
}
.item36 {
    width: 280px;
    height: 330px;
} 
.item37 {
    width: 280px;
    height: 360px;
} 
.item38 {
    width: 280px;
    height: 180px;
} 
.item39 {
    width: 280px;
    height: 380px;
} 
.item40 {
    width: 280px;
    height: 340px;
} 
.item41 {
    width: 280px;
    height: 320px;
} 
.item42 {
    width: 280px;
    height: 330px;
} 
.item43 {
    width: 280px;
    height: 180px;
}